<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299949179176-3oc3uev2p9iv9l3m8e0f100i6ueh3c0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299949179176-3oc3uev2p9iv9l3m8e0f100i6ueh3c0j</string>
	<key>API_KEY</key>
	<string>AIzaSyCX0-7wTYNnkg93Mm2HaMsQmeipJngnZzI</string>
	<key>GCM_SENDER_ID</key>
	<string>299949179176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.babyCare.app</string>
	<key>PROJECT_ID</key>
	<string>babycare-630b3</string>
	<key>STORAGE_BUCKET</key>
	<string>babycare-630b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299949179176:ios:6b06abb981a058f95a501d</string>
</dict>
</plist>